/*
filename: Jamie Kozminska
author Jamie Kozminska
created: 11/8/2020
last modified: 1:40pm
description: 
*/


/* styling definition list */

/* page layout */

* {
    font-family: calibri,
    sans-serif; 
    color: #212121;
    font-size: 25px;
}

input, select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
}

input:focus {
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
}

h1, h2 {
    font-size: 2em;
    font-family: arial, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

caption {
    font-size: 2em;
    text-align: center;
    color: black;
}

aside  {
    width:25%;
    float: right;
    border: 4px  #616161;
    margin: 1em;
    padding: 1em;
}

aside:hover  {
    background-color: #616161;
}

footer {
    width: 100%;
    border-top: 4px solid #616161;
    font-size: 10px;
}

table, thead, tr, th, td {
    margin: auto;
    border: solid 2px black;
    text-align: center;
}

td {
    background-color: #757575;
}

th {
    background-color: #0288D1;
}

fieldset {
    text-align: center;
    font-size: 3em;
    border-color:  #757575
}

h3 {
    font-size: 20em;
}

button {
    background-color: #3273dc;
    border-color: transparent;
    color: #fff;
    height: 50px;
    width: 300px;

    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.list-font {
    font-size: .1em;
}


.page-background {
    background-color: #9E9E9E;
}

.title-page {
    background:url(https://www.bartlettinteractive.com/sites/default/files/2017-08/blog-image-yp1.jpg) no-repeat center fixed;
    background-size: cover;
    }

.menu { 
    display:inline-block;
    background-color: #9E9E9E;
    padding: 1em 4em;
    border-radius: 8px;
    text-align: center;
}

.title-body{
    height: 90%;
}

.Image1 {
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 2em;
}

.listfloater {
    justify-content:center;
    display: flex;
    margin: 1em;
}

.seg1 {
    background-color: #757575 ;
    text-align: center;
    padding: 2em;
}
.seg2 {
    text-align: center;
    padding: 2em;
}
.seg3 {
    background-color: #757575 ;
    text-align: center;
    padding: 2em;
}
.seg4 {
    text-align: center;
    padding: 2em;
}
.seg5 {
    background-color: #757575 ;
    padding: 2em;
}

.menu:hover {
    background-color: #757575;
}

.menu:active {
    filter: brightness(85%);
}

#indexfooter {
    text-align: center;
    font-size: 1em;
    margin-top: 18em;
}

#mainpageheading {
    text-align: center;
    color: white;
}
#menu {
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    align-items: stretch; 
}

#tables {
    justify-content:center;
    flex: 1;
}

select:active {
    box-shadow: 0 0 0 0.125em rgba(72,199,116,.25);
}
select:hover {
    border-color: #3abb67;
}

button:hover {
    background-color: #276cda;
    border-color: transparent;
    color: #fff;
}
button:active {
    background-color: #2366d1;
    border-color: transparent;
    color: #fff;
}
.indexfooter{
    color:white;
}

.retryButton {
    display:inline-block;
    background-color: #9E9E9E;
    padding: 1em 4em;
    border-radius: 8px;
}
.retryButton:hover {
    background-color: #757575;
}

.retryButton:active {
    filter: brightness(85%);
}

#userattempts {
    text-align: center;
}

#studentidresult {
    text-align: center;
}
#outof3 {
    text-align: center;
}
